/* #region typography */
/***********************************
* typography
***********************************/
h2 {
  text-align: center;
}
article {
  margin: 2em auto;
}
/* #end region typography */
/* #region images */
/***********************************
* Images
***********************************/
figure {
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*ending images */
